div.card-body {
    background: linear-gradient(135deg, #111111, #999999);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, .5); /* Added shadow */
    margin-top: 10px;
}
p.text-muted{
    color : white !important;
}

a.btn.btn-outline-secondary{
    color: yellowgreen;
}

button.btn.btn-outline-primary.mx-2{
    background-color : navy;
    color: white;
}
button.btn.btn-outline-danger.mx-2 {
    background-color: darkred;
    color: white;
}