div.card-body {
    background-color: #999999;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, .5); /* Added shadow */
    margin-top: 10px;
    width: 100%;
    padding-top :50px;
}

    div.card-body.text-center {
        margin-top: 20px; /* Add some space at the top */
        text-align: center; /* Optional, in case you want to center the text */
    }

p.text-muted {
    color: white !important;
}

a.btn.btn-outline-secondary {
    color: yellowgreen;
}

button.btn.btn-outline-primary.mx-2 {
    background-color: navy;
    color: white;
}

button.btn.btn-outline-danger.mx-2 {
    background-color: darkred;
    color: white;
}
div.profile-header.card.shadow-sm.mb-4{ 
}

h5.card-title{
    color: black;
}