div.card-body {
    background: linear-gradient(135deg, #111111, #999999);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, .5); /* Added shadow */

}

div.card-body.text-center {
    background: linear-gradient(135deg, #111111, #999999);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, .5); /* Added shadow */
    margin-top:20px;
}


p.text-muted{
    color: white !important;
}
.table tr th {
    background-color: gray;
    color: white ;
}
.table {
    margin-top: 20px;
    background-color: #f9f9f9; /* Light background for the table */
}
