@page "/users"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CasaMiro.Models
@using CasaMiro.Data
@implements IAsyncDisposable
@inject IDbContextFactory<CasaMiro.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="users/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Users">
    <PropertyColumn Property="user => user.Email" />
    <PropertyColumn Property="user => user.Password" />
    <PropertyColumn Property="user => user.First_name" />
    <PropertyColumn Property="user => user.Last_name" />
    <PropertyColumn Property="user => user.Phone" />
    <PropertyColumn Property="user => user.Address" />
    <PropertyColumn Property="user => user.Role" />
    <PropertyColumn Property="user => user.Created_at" />
    <PropertyColumn Property="user => user.Is_active" />

    <TemplateColumn Context="user">
        <a href="@($"users/edit?id={user.Id}")">Edit</a> |
        <a href="@($"users/details?id={user.Id}")">Details</a> |
        <a href="@($"users/delete?id={user.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
