<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container">
        <img src="favicon.png" alt="Casa Miro Logo" style="width: 7%; height: auto;">
        <a class="navbar-brand fw-bold fs-4 text-dark" href="/">
            Casa Miro
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav gap-3">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">
                        <i class="fa-solid fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#about">
                        <i class="fa-solid fa-info-circle"></i> About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#services">
                        <i class="fa-solid fa-cogs"></i> Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#contact">
                        <i class="fa-solid fa-envelope"></i> Contact
                    </a>
                </li>
            </ul>

        </div>
        <a class="btn btn-outline-light me-2 px-4 text-dark" href="/login">
            <i class="fa-solid fa-sign-in-alt"></i> Login
        </a>
    </div>
</nav>


