@page "/view-announce"
@using CasaMiro.Models
@inject NavigationManager Navigation

@using CasaMiro.Components.Layout
@layout DashboardLayout

<div class="container-fluid">
    <div class="row">
        <!-- Main content -->
        <div class="col-12">
            <div class="card mt-3">
                <div class="card-header">
                    <h4 class="card-title">All Announcements</h4>
                </div>
                <div class="card-body">
                    <!-- Static Announcement Cards -->
                    <div class="row">
                        <div class="col-12 col-md-4 mb-3">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Meeting Reminder</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Reminder: General assembly on April 15 at 9AM.</p>
                                    <p class="card-text">
                                        <small class="text-muted">Posted: 04/01/2025</small>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 mb-3">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">New Facilities</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">We’ve added new equipment to the community center.</p>
                                    <p class="card-text">
                                        <small class="text-muted">Posted: 03/28/2025</small>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 mb-3">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Maintenance Notice</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Water supply will be interrupted on April 10 due to pipe repair.</p>
                                    <p class="card-text">
                                        <small class="text-muted">Posted: 03/30/2025</small>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Add more announcement cards below as needed -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
